/* Write your code here: */
h1, h2 {
    color: rgb(167, 0, 238);
}

p.done {
    color:brown
}

ul.list li {
    color: blue;
}

ul.list li.done {
    color: green;
}

ul p.done {
    color: black;
}